.global {
    display: flex;
    align-items: center;
    flex-direction: column;

    .contenedor_articulo {
        display: flex;
        flex-direction: column;
        align-items: center;


        .img_y_precio {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mixin_media_query(mq2) {
                flex-direction: column;
            }

            

            .precio {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .plataforma {
                    display: flex;
                    justify-content: center;

                    .logo_plataforma,
                    .check {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        .visuales {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mixin_media_query(mq10) {
                display: none;
            }

            #titulo {
                align-self: flex-start;
            }

            .contenedor-carrusel {
                display: flex;
                justify-content: center;

                .carrusel {
                    display: flex;
                }
            }
        }

        .ediciones {
            @include mixin_media_query(mq10) {
                text-align: start;
            }

            .edicion {
                display: flex;

                @include mixin_media_query(mq6) {
                    flex-direction: column;
                    align-items: center;
                }

                .tarjeta {
                    .info {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}