.seccion1{
    display: flex;
    flex-direction: column;
}

.contacto{
    display: flex;
}

.seccion2{
    display: flex;
    flex-direction: column;
}

.seccion3{
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}

.contenedor-redes{
    display: flex;
}

.redes{
    display: flex;
}