.contenedor_del_menu{
    display: flex;
    justify-content: space-between; /*Espacio entre elementos*/
    align-items: center;

    .menu__img{
        display: block;
    }

    .hamburguesa_del_menu{
        display: none;
        @include mixin_media_query(mq5){
            display: flex;
        }
    }

    .enlaces_del_menu {
        display: flex;
        @include mixin_media_query(mq5){
            display: none;
        }
        .enlace_del_menu {
            display: flex;
            align-items: center;
        }
    }
    .enlaces_del_menu_lateral {
        .enlace_del_menu_lateral {
            display: block;
        }
    }
}

.oculto{
    display: none;
}



