@use "sass:math";

.contenedor-global{
    display: flex;
    justify-content: center;
    .contenido{
        display: flex;

        .filtro{
            display: flex;
            justify-content: center;
    
    
            .lista_categorias{
                display: flex;
                flex-direction: column;
                align-items: center;
    
    
                .item_categoria{
                    display: block;
                }
            }
        }
    
        .articulos{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .tarjeta{
                .info {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}
