footer {
    background-color: $color_negro;
    color: $color_blanco;
    width: 100%;
}

.cuerpo_footer {
    width: 92vw;
    margin: 0 auto;
}

.seccion1 {
    width: 25%;
    margin-left: 10px;
}

.seccion1 h1 {
    margin-top: 3%;
    font-family: $fuente_titulos, $fuente_basica;
    font-weight: 300;
    font-style: normal;
}

.contacto {

    margin-top: 5px;
}

.contacto img {
    width: 36px;
    height: 36px;
    margin-top: 8px;
}

.contacto p {
    margin-left: 8px;
    margin-top: 18px;
    font-family: $fuente_titulos, $fuente_basica;
    font-weight: 500;
    font-style: normal;
}

.seccion2 {
    width: 50%;
    height: 117px;
}

.seccion2 h1 {
    font-family: $fuente_titulos, $fuente_basica;
    font-weight: 500;
    font-style: normal;
}

.seccion2 p {
    margin-top: 10px;
    font-family: $fuente_parrafos, $fuente_basica;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 25px;
}

.seccion3 {
    width: 25%;
    margin-right: 10px;
}

.seccion3 h1 {
    margin-bottom: 10px;
    font-family: $fuente_titulos, $fuente_basica;
    font-weight: 500;
    font-style: normal;
}


.redes {
    margin-top: 10px;
    margin: 5px;
}

.redes img {
    width: 36px;
    height: 36px;
    margin-bottom: 35px;
}

.redes a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}