.contenedor{
    height: 100vh;
    width: 50%;
    column-gap: 30px;
    background-color: $color_fondo_web;
    @include mixin_media_query(mq13){
        width: 100%;
    };

    .formulario{
        position: relative;
        max-width: 430px;
        width: 100%;
        padding: 30px;
        border-radius: 6px;
        background: $color_blanco;
        border: 1px solid $color_negro;

        @include mixin_media_query(mq8){
            padding: 20px 10px;
        };
    
        header{
        font-weight: 600;
        color: #232836;
        text-align: center;
        font-weight: 300;
        font-style: normal;
    
            .salida{
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;
                width: 6%;
            }
        }
    
        form{
            margin-top: 30px;
            
        }
    
        .campo{
            position: relative;
            height: 50px;
            width: 100%;
            margin-top: 20px;
            border-radius: 6px;
            font-optical-sizing: auto;
            font-weight: bold;
            font-style: normal;
    
            input, button{
                height: 100%;
                width: 100%;
                border: none;
                font-size: 16px;
                font-weight: 400;
                border-radius: 6px;
            }
    
            input{
                padding: 0 15px;
                border: 1px solid#CACACA;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
    
                &:focus{
                    border-bottom-width: 2px;
                }
            }
    
            button{
                color: #fff;
                background-color: $color_hover_menu_principal;
                transition: all 0.3s ease;
                cursor: pointer;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
    
                &:hover{
                    background-color: #0659a1;
                }
            }
        }
    
        .enlace-formulario{
            text-align: center;
            margin-top: 10px;
            
            p, a{
                color: black;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
            }
    
            a{
                color: #0171d3;
                text-decoration: none;
    
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    
        .linea{
            position: relative;
            height: 1px;
            width: 100%;
            margin: 36px 0;
            background-color: #d4d4d4;
    
            &:before{
                content: 'O';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #FFF;
                color: #8b8b8b;
                padding: 0 15px;
            }
        }
    
        .opciones-media{
            a{
                text-decoration: none;
                color: #fff;
                background-color: $color_hover_menu_principal;
    
                &:hover{
                    color: #fff;
                    background-color: #0659a1;
                }
            }
    
            img{
                height: 28px;
                width: 28px;
                color: $color_hover_menu_principal;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
            }
        }
    
    }
}

.img_lateral{
    background-image: url(../img/fondo-login-registro.jpg);
    background-position: top;
    background-size: cover;
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;

    img{
        width: 100%; 
        height: 100%;
        position: absolute; 
        top: 0; 
        left: 0; 
    }
}



