.contenedor-global {
    background-color: $color_fondo_web;
    position: relative;
    .contenido{
        width: 94vw;
        margin: 20px;
        .filtro {
            position: sticky;
            top: 0;
            width: 90%;

            .boton_filtro{
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                border-radius: 5px;
                background-color: $color_blanco;
                display: none;

            }

            .lista_categorias {
                width: 100%;
    
                .enlaces{
                    width: 100%;
                    gap: 20px;
                    @include mixin_media_query(mq5){
                        gap: 20px;
                        padding: 10px;
                     }
                    .item_categoria {
                        font-weight: bold;
                        padding: 8px 5px;
                        margin-bottom: 20px;
                       
                        border-radius: 10px;
                        background: $color_blanco;
                        text-align: center;
                        text-decoration: none;
                        color: $color_negro;
                        width: 100%;
                        
        
                        &-activo {
                           border: 2px solid $color_naranja_web;
                        }
                    }
                }
                
            }
        }
    
        .articulos {
            background-color: $color_fondo_web;
            width: 90%;
            height: 100%;
            gap: 20px;
            @include mixin_media_query(mq5){
                width: 100%;
             }
    
            .tarjeta {
                list-style: none;
                cursor: pointer;
                width: 90%;
                @include mixin_media_query(mq9){
                    width: 80%;
                 }
                 @include mixin_media_query(mq10){
                    width: 100%;
                 }
                .img {
                    text-align: center;
    
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 10px;
                        border: 2px solid $color_negro;
                    }
                }
    
                .info {
                    p {
                        margin: 0;
                        font-weight: bold;
                        font-style: normal;
                        color: $color_negro;
                    }
                }
    
            }
        }
    }
}