.contenedor-global {
    background-color: $color_fondo_web;
    position: relative;
    .contenido{
        width: 94vw;
        margin: 20px;
        .filtro {
            width: 90%;
            @include mixin_media_query(mq6){
                position: absolute;
                max-width: 400px;
                width: 40%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 3;
                background-color: $color_fondo_web;
                padding-top: 30px;
                
            }

            .lista_categorias {
                width: 100%;
                .enlaces{
                    width: 100%;
                    gap: 20px;
                    @include mixin_media_query(mq6){
                        width: 70%;
                    }
                    @include mixin_media_query(mq10){
                        width: 90%;
                    }
                    .item_categoria {
                        font-weight: bold;
                        padding: 8px 5px;
                        margin-bottom: 20px;
                       
                        border-radius: 10px;
                        background: $color_blanco;
                        text-align: center;
                        text-decoration: none;
                        color: $color_negro;
                        width: 100%;
                        
        
                        &-activo {
                           border: 2px solid $color_naranja_web;
                        }
                    }
                }
                
            }
        }

        .boton_filtro{
            text-align: center;
            font-weight: bold;
            border: 1px solid $color_naranja_web;
            border-radius: 5px;
            background-color: $color_blanco;
            padding: 10px;
            margin-bottom: 10px;
            margin-right: 5%;
            cursor: pointer;
            @include mixin_media_query(mq9){
                margin-right: 12%;
             }

             @include mixin_media_query(mq10){
                margin-right: 5%;
             }

            img{
                width: 60%;
            }
        }
    
        .articulos {
            background-color: $color_fondo_web;
            width: 90%;
            height: 100%;
            gap: 20px;
            @include mixin_media_query(mq5){
                width: 100%;
             }
    
            .tarjeta {
                list-style: none;
                cursor: pointer;
                width: 75%;
                 @include mixin_media_query(mq10){
                    width: 90%;
                 }
                .img {
                    text-align: center;
    
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 10px;
                        border: 2px solid $color_negro;
                    }
                }
    
                .info {
                    p {
                        margin: 0;
                        font-weight: bold;
                        font-style: normal;
                        color: $color_negro;
                    }
                }
    
            }
        }
    }
}
