.contenedor_noticias{
    background-color: $color_fondo_web;
    font-weight: bold;
    h1{
       margin-top: 10px;
       width: 90vw;
       margin-bottom: 10px;
    }
    .noticias{
       width: 90vw;
       gap: 10px;
       .noticia{
           width: 100%;
           text-align: justify;
           border: 1px solid $color_resalte_articulos_home; 
           border-radius: 8px; 
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
           padding: 10px;
           margin-bottom: 10px;
           @include mixin_media_query(mq10){
               text-align: center;
           }

           h2{
               margin-bottom: 10px;
           }
           p{
               line-height: 1.7;
           }

           a{
               color: $color_hover_menu_principal;
               text-decoration: none;

               &:hover{
                   color: #0659a1;
               }
           }
       }
   }
}