p,
a {
    font-size: $clamp_texto;
    font-family: $fuente_parrafos, $fuente_basica;
}

h1,h3,h2 {
    font-size: $clamp_titulos;
    font-family: $fuente_titulos, $fuente_basica;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}